body
{
background-size:cover;
background-color:Peru;

}

 title
 {
   text-align: center;color:Blue
 }

form
{
  text-align: center;
}

nav
{
  text-align: center;
}

p
{
font-size: 3000   px;
text-align: center;
color: Blue

}

li
{
  text-align: center;
}


h1
{
  text-align: center;color: Blue 
}

h2
{
  text-align: center;color: Sienna
}

form
{
  text-align: center;
}
h2
{
  text-align:center;
}
h3
{
  text-align: left;color:  Sienna
}
h4
{
  text-align: center;color: Sienna
}


